networkIdentifier: arbitrum-one 

gateway:
  url: https://gateway-arbitrum.thegraph.com

indexerOptions:
  address: "${STAKING_WALLET_ADDRESS_ARBI}"
  mnemonic: "${OPERATOR_SEED_PHRASE_ARBI}"
  url: https://${INDEX_HOST_ARBI}/
  geoCoordinates: [${GEO_COORDINATES:-69.420 69.420}]
  allocationManagementMode: ${INDEXER_AGENT_ALLOCATION_MANAGEMENT:-auto}
  rebateClaimThreshold: ${REBATE_CLAIM_THRESHOLD_ARBI:-200}
  rebateClaimBatchThreshold: ${REBATE_CLAIM_BATCH_THRESHOLD_ARBI:-2000}
  rebateClaimMaxBatchSize: ${REBATE_CLAIM_MAX_BATCH_SIZE_ARBI:-100}
  voucherRedemptionThreshold: ${VOUCHER_REDEMPTION_THRESHOLD_ARBI:-200}
  voucherRedemptionBatchThreshold: ${VOUCHER_REDEMPTION_BATCH_THRESHOLD_ARBI:-2000}
  voucherRedemptionMaxBatchSize: ${VOUCHER_REDEMPTION_MAX_BATCH_SIZE_ARBI:-100}
  allocateOnNetworkSubgraph: false
  register: true

transactionMonitoring:
  gasPriceMax: ${INDEXER_AGENT_GAS_PRICE_MAX_ARBI:-50}

subgraphs:
  networkSubgraph:
    url: ${INDEXER_AGENT_NETWORK_SUBGRAPH_ENDPOINT_ARBI:-https://api.thegraph.com/subgraphs/name/graphprotocol/graph-network-arbitrum}
  # deployment: ${NETWORK_SUBGRAPH_DEPLOYMENT}
  epochSubgraph:
    url: ${INDEXER_AGENT_EPOCH_SUBGRAPH_ENDPOINT_ARBI:-https://api.thegraph.com/subgraphs/name/graphprotocol/arbitrum-epoch-block-oracle}

networkProvider:
  url: "${TXN_RPC_ARBI}"

dai:
  # Mind that the cost model feature is only enabled for Ethereum Mainnet
  contractAddress: "0x11fE4B6AE13d2a6055C8D9cF65c55bac32B5d844"
  inject: true