networkIdentifier: mainnet 

gateway:
  url: https://gateway.thegraph.com

indexerOptions:
  address: "${STAKING_WALLET_ADDRESS_MAINNET}"
  mnemonic: "${OPERATOR_SEED_PHRASE_MAINNET}"
  url: https://${INDEX_HOST_MAINNET}/
  geoCoordinates: [${GEO_COORDINATES:-69.420 69.420}]
  allocationManagementMode: ${INDEXER_AGENT_ALLOCATION_MANAGEMENT:-auto}
  rebateClaimThreshold: ${REBATE_CLAIM_THRESHOLD_MAINNET:-200}
  rebateClaimBatchThreshold: ${REBATE_CLAIM_BATCH_THRESHOLD_MAINNET:-2000}
  rebateClaimMaxBatchSize: ${REBATE_CLAIM_MAX_BATCH_SIZE_MAINNET:-100}
  voucherRedemptionThreshold: ${VOUCHER_REDEMPTION_THRESHOLD_MAINNET:-200}
  voucherRedemptionBatchThreshold: ${VOUCHER_REDEMPTION_BATCH_THRESHOLD_MAINNET:-2000}
  voucherRedemptionMaxBatchSize: ${VOUCHER_REDEMPTION_MAX_BATCH_SIZE_MAINNET:-100}
  allocateOnNetworkSubgraph: false
  register: true

transactionMonitoring:
  gasPriceMax: ${INDEXER_AGENT_GAS_PRICE_MAX_MAINNET:-50}

subgraphs:
  networkSubgraph:
    url: ${INDEXER_AGENT_NETWORK_SUBGRAPH_ENDPOINT_MAINNET:-https://api.thegraph.com/subgraphs/name/graphprotocol/graph-network-mainnet}
  # deployment: ${NETWORK_SUBGRAPH_DEPLOYMENT_MAINNET}
  epochSubgraph:
    url: ${INDEXER_AGENT_EPOCH_SUBGRAPH_ENDPOINT_MAINNET:-https://api.thegraph.com/subgraphs/name/graphprotocol/mainnet-epoch-block-oracle}

networkProvider:
  url: "${TXN_RPC_MAINNET}"

dai:
  # Mind that the cost model feature is only enabled for Ethereum Mainnet
  contractAddress: "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
  inject: true